<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie-Tracker</title>
    <link rel="stylesheet" href="../static/artist.css">
</head>
<body>
<header class="header">
    <a href="/" class="header-title">Groupie-Tracker</a>
</header>
<main class="main">
    <div class="container">
        <div class="details">
            <div class="img">
                <img src="{{.Image}}" alt="{{.Name}}" class="artist-img">
            </div>
            <div class="cont">
                <h2 class="name">{{.Name}}</h2>
                <p class="creation">Creation Date: {{.CreationDate}}</p>
                <p class="first">First Album: {{.FirstAlbum}}</p>
                <h3 class="member">Members:</h3>
                <ul class="list">
                    {{range .Members}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="info" >
            <h3>Concert Dates</h3>
            {{range $i, $v := .Relation.DatesLocation}}
            <div class="cities"><p>{{$i}}</p> <p class="dates">{{range $v}} |{{.}}| {{end}}</p></div>
            {{end}}
        </div>
    </div>
</main>
</body>
</html>
