<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie-Tracker</title>
    <link rel="stylesheet" href="../static/error.css">
</head>
<body>
<header class="header">
    <a href="/" class="header-title">Groupie-Tracker</a>
</header>
<main class="main">
    <div class="content">
        <div>
            <h1 class="Code">{{.Code}}</h1>
            <h2 class="error">{{.Msg}}</h2>
        </div>
    </div>
</main>
</body>
</html>
